# SPDX-FileCopyrightText: 2022 Noah Fontes
#
# SPDX-License-Identifier: Apache-2.0

root = true

[*]
end_of_line = lf
charset = utf-8

[*.{c,build,md,nix}]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 2
